{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'GMT+1') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.userName }}</span>
    </p>

    <div class="">
        <p class="m-b-0"><strong>{{ 'label.summary'|trans }}</strong>: {{ post.summary }}</p>
    </div>
    <div class="">
    {% if post.medias %}
    {% for media in post.medias %}
        <p>
            {% if media.media.name %}
                <img class="img-fluid" src="{{ vich_uploader_asset(media, 'mediaFile') }}" alt="{{ media.media.name }}" />
            {% elseif media.name %}
            	<img class="img-fluid" src="{{ asset('/default.storage/') }}{{ media.name }}" alt="{{ media.name }}"
            {% elseif media.mimeType starts with "video" %}
                 <video width="320" height="240" controls>
                    <source src="{{ vich_uploader_asset(media, 'mediaFile') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        </p>
       {% endfor %} 
    {% endif %}    
    </div>
    {{ post.content| raw }}

    {{ include('blog/_post_tags.html.twig') }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}
